{% extends 'dashboardLaoyout.html.twig' %}

{% block title %}Dashboard - Responses
{% endblock %}

{% block content %}
	<section class="dashboard-content">
		<a href="{{ path('app_dashboard') }}" class="btn">Retour au tableau de bord</a>
		<div class="responses-layout">
			<div>
				<article class="ticket">
					<span style="--bg-color: {{ticket.level.color}};">{{ticket.level.name}}</span>
					<span style="--bg-color: {{ticket.status.color}};">{{ticket.status.name}}</span>
					<h5>{{ticket.subject }}</h5>
					<small>{{ticket.author ?? (ticket.userAccount.firstName ~ ' ' ~ ticket.userAccount.name) }}</small>
					<strong>
						<img src="/images/Shape.png" alt="shape"/>
						{{ticket.responses | length}}
					</strong>
					<p>
						{{ticket.content | nl2br}}
					</p>
				</article>
			</div>
			<div class="responses-content">
				<section class="responses">
					{% for response in responses %}
						<article class="response {{response.userAccount == app.user ? 'a-moi'}}">
							<small>{{response.createdAt | date('d/m/Y H:i') }}
								-
								{{response.author ?? (response.userAccount.firstName ~ ' ' ~ response.userAccount.name) }}
							</small>
							<p>{{response.content | nl2br}}</p>
						</article>
					{% endfor %}
				</section>
				<section class="form-response">
					{{ form(form) }}
					</section>
				</div>
			</div>
		</section>
	{% endblock %}
