{% extends 'dashboardLaoyout.html.twig' %}

{% block title %}Dashboard - Responses
{% endblock %}

{% block content %}
	<section class="dashboard-content">
		<a href="{{ path('app_dashboard') }}" class="btn">Retour au tableau de bord</a>
		<div class="responses-layout">
			<div>
				{{ component('TicketComponent', {'ticket': ticket}) }}
			</div>
			<div class="responses-content">
				<section class="responses">
					{% for response in responses %}
						<article class="response {{response.userAccount == app.user ? 'a-moi'}}">
							<small>{{response.createdAt | date('d/m/Y H:i') }}
								-
								{{response.author ?? (response.userAccount.firstName ~ ' ' ~ response.userAccount.name) }}
							</small>
							<p>{{response.content | nl2br}}</p>
						</article>
					{% endfor %}
				</section>
				<section class="form-response">
					{{ form(form) }}
					</section>
				</div>
			</div>
		</section>
	{% endblock %}
