{% extends 'dashboardLaoyout.html.twig' %}

{% block content %}
	<section class="dashboard-content">
		<a href="{{ path('app_dashboard') }}" class="btn">Retour au tableau de bord</a>
		{% for application in applications | sort((a, b) => a.name|lower <=> b.name|lower) %}
			<article class="application">
				<h5>{{ application.name }}</h5>
				<div>
					<span>{{ application.userAccount.name }}
						{{ application.userAccount.firstName }}</span>
					{% if application.token %}
						<strong>Token OK</strong>
						<a href="{{ path('app_dashboard_applications_genToken', {'id': application.id}) }}">Rege패ne패rer un token</a>
					{% else %}
						<a href="{{ path('app_dashboard_applications_genToken', {'id': application.id}) }}">Ge패ne패rer un token</a>
					{% endif %}
				</div>
			</article>
		{% endfor %}
		<a href={{ path("app_dashboard_applications_add")}} class="btn block w-fit m-auto mt-4">Ajouter une app</a>
	</section>
{% endblock %}
