{% extends 'dashboardLaoyout.html.twig' %}

{% block title %}Dashboard - index
{% endblock %}

{% block content %}
	<div class="dashboard-content">
		<h1>Tableau de bord</h1>
		{# <h2>STATUS</h2> #}
		<hr>
		<section>
			{% for status in statuses|sort %}
				<a href="{{ path('app_dashboard_tickets_statuses', {'id': status.id}) }}">
					<article>
						<h3 style="--text-color: {{status.color}};">{{ status.name }}</h3>
						<span style="--bg-color: {{status.color}};">{{ tickets|filter(t => t.status == status)|length }}</span>
					</article>
				</a>
			{% endfor %}
		</section>
		{# <h2>LEVELS</h2> #}
		<hr>
		<h2>Ne prends pas en compte les tickets cloturés</h2>
		<section>
			{% for level in levels|sort %}
				<a href="{{ path('app_dashboard_tickets_levels', {'id': level.id}) }}">
				<article>
					<h3 style="--text-color: {{level.color}};">{{ level.name }}</h3>
					<span style="--bg-color: {{level.color}};">{{ tickets|filter(t => t.level == level and t.status.id != 3)|length }}</span>
				</article>
				</a>
			{% endfor %}
		</section>
	</div>
{% endblock %}
