{% extends 'dashboardLaoyout.html.twig' %}

{% block title %}Dashboard - index
{% endblock %}

{% block content %}
		{% for ticket in tickets %}
			<section class="ticket">
				<h5>{{ticket.subject }}</h5>
				<small>{{ticket.author ?? (ticket.userAccount.firstName ~ ' ' ~ ticket.userAccount.name) }}</small>
				<article>
					<span style="--bg-color: {{ticket.status.color}};">{{ticket.status.name}}</span>
					<span style="--bg-color: {{ticket.level.color}};">{{ticket.level.name}}</span>
					<p>
						{{ticket.content | nl2br}}
					</p>
				</article>
			</section>
		{% endfor %}
{% endblock %}
